{% extends 'main/base.html' %} {% load static %} {% block title %} about
Haihanich {% endblock %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
{% endblock %} {%block content %}
<h1>About me:</h1>
<br />
<div class="about_container">
  <div class="about_text">
    <h2>Ivan Ma,<br />23 y.o.</h2>
    <br />
    <p>Master's degree in Biology</p>
    <p>Self-taught full-stack developer from Saint-Petersburg</p>
    <p>For now I use that technology stack:</p>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Git/GitHub</li>
    </ul>
    <h3>My contacts:</h3>
    <p>
      Phone number:
      <a href="tel:+7-999-519-42-17">+7-999-519-42-17</a> (WhatsApp, Telegram)
    </p>
    <p>All social media: @haihanich</p>
    <p>E-mail: <a href="mailto:haihanich@gmail.com">haihanich@gmail.com</a></p>
  </div>
</div>
<hr />
<footer>
  <p id="contact_info">Saint-Petersburg, 2022<br />@haihanich</p>
</footer>
{% endblock %}
