{% extends 'main/base.html' %} {% load static %} {% block title %} {{ title }}
{% endblock %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
{% endblock %} {%block content %}
<h1>Comments:</h1>
<br />
{% if comments %} {% for el in comments %}
<div class="alert alert-warning mt-2">
  <h3>{{ el.title }}</h3>
  <p>{{ el.comment }}</p>
</div>
{% endfor %} {% else %}
<p>No comments yet</p>
{% endif %}
<hr />
<footer>
  <p id="contact_info">Saint-Petersburg, 2022<br />@haihanich</p>
</footer>
{% endblock %}
